<head>
    <title>Presentación</title>
    <link rel="stylesheet" href="static/style.css">

</head>
<body>
    <div class="centrar">
        <h1>ELIJA A SU PROFECIONAL</h1>
        <img src="static/img/icon.png" alt="Icono" class="christian">
    </div>
    <div class="container">
        <div class="left">
            <details>
                <summary><h1>Christian Díaz Brito</h1></summary>
                <img src="static/img/perfilv2.jpeg" alt="Foto de Christian" class="christian">
                <p><strong>Ubicación:</strong> Macul, Santiago</p>
                <p><strong>Profesión:</strong> Ingeniero Industrial</p>
                <p><strong>Contacto:</strong> A traves de Linkedin</p>
            </details>
            
        </div>
        <div class="right">
            <details>
                <summary><h1>Misael Ancán Espinosa</h1></summary>
                <img src="static/img/misa.png" alt="Foto de Misael" class="christian">
                <p><strong>Ubicación:</strong> La granja, Santiago</p>
                <p><strong>Profesión:</strong> Tecnico universitario en manteniminto Aeronautico</p>
                <p><strong>Contacto:</strong> Eso por imbox </p>
            </details>
        </div>
    </div>

</body>
