<head>
    <title>CURRICULUM</title><!--Nombre de la pagina-->
    <link rel="stylesheet" href="/static/stylechristian.css">
    <!---<script defer src="/static/scriptchristian.js"></script>--->
</head>
{% extends 'layouts/cruce.html' %}
{% block content %}
<body>
    <div class="Linea-azul"><!--Linea que se encuentra en la parte izquierda de la pagina-->
        <!--Foto de Perfil para el curriculum-->
        <a href="/" class="lista">Centro</a>
        <a href="/misael/" class="lista">Misael</a>
        <img src="/static/imgchristian/Perfil.jpeg" alt="Foto_de_perfil" class="Foto_de_perfil" id="fotoPerfil" style="cursor: pointer;">
        <h2>Datos Personales</h2>
        <ul class="lista"><!--lista no ordenada-->
            <li><strong>Fecha de nacimiento: 23-09-1996</strong></li>
            <li><strong>Nacionalidad: Chilena</strong></li>
            <li><strong>Estado civil: Soltero</strong></li>
        </ul>
        <div class="divisor"></div><!--Linea para separar-->
        <h2>Aptitudes</h2>
        <ol class="lista"><!--lista ordenada-->
            <li><strong>Adaptacion</strong></li>
            <li><strong>Resolución de problemas</strong></li>
            <li><strong>Trabajo en equipo</strong></li>
            <li><strong>Responsabilidad</strong></li>
        </ol>
    </div>
    <h1 id="boton-color" style="cursor: pointer;">CHRISTIAN DÍAZ</h1><!--Se modifico para volverlo un boton para cambiar los colores-->
    <div class="Contenido"><!--comando para determinar como estara el contenido-->
        <h2>Resumen profesional</h2>
        <!--Texto en parrafo, se agrega el comando <br> para hacer saltos de linea -->
        <p>Ingeniero industrial con 3 años de experiencia en el area de analista de recaudacion y pagos,<br>administrando cuantas con clientes y proveedores, revisando y validando que la informacion de<br>sus pagos se gestione de manera correcta, en este momento busco seguir desarrollando mis habilidades<br>tanto para la gestion como para el analisis de la informacion.</p>
        <h2 id="titulo-estudios" style="cursor: pointer;">Estudios ⯈</h2><!--Se modifico esta linea para convertirla en una lista desplegable-->
        <div id="contenido-estudios" style="display: none;">
            <p>Universidad Tecnológica INACAP</p>
            <ul>
                <li>Licenciado en Ingeniería Industrial</li>
                <li>Inicio: 2017</li>
                <li>Término: 2022</li>
            </ul>
            <ul>
                <li>Estudiante de Ingeniería en Ciberseguridad</li>
                <li>Inicio: 2024</li>
                <li>Término: #N/D</li>
            </ul>
        </div>

        <div class="contenedor"><!--Otro comando para ajustar el texto con el style.css-->
            <div>
            <h2>Experiencia Laboral</h2>
            <!--si se coloca el comando <li> te genera listas no ordenadas-->
                <li>Cargo: Analista de recaudacion y Pagos</li>
                <li>Ingreso: 2022</li>
                <li>Termino: #N/D</li>
                <div class="contenido_2"><!--Este <div> es para cambiar el estilo de escritura-->
                    3 años de experiencia en la gestion y analisis de cuentas financieras, asegurando la presicion y eficiencia<br>en los procesos de recaudacion y pago. Revision y analisis de diicersas cuentas para garantizar el cumplimiento<br> de normativas y la colaboracion con los equipos internos para mejorar la eficiencia operativa.
                </div>
            </div>
        </div>
        <h2>Habilidades</h2>
        Excel: Intermedio.<br>Python: Basico.<br>MongoDB: Basico.<br>Ingles: Intermedio.

        <h2>Habilidades requeridas</h2><!--Este espacio es para agregar las habilidades que se requieran para el cargo-->
        <form id="formHabilidad">
            <input type="text" id="nombreHabilidad" placeholder="Nombre de la habilidad" required>
            <input type="text" id="nivelHabilidad" placeholder="Nivel (Básico, Intermedio, Avanzado)" required>
            <button type="submit">Agregar</button>
        </form>
        <div id="listaHabilidades"></div>

        <h2>Ingrese su correo para contacto</h2><!--Este es un cuadro para ingresar un correo de contacto si el curriculum cumple los requisitos-->
        <form id="formulario" method="post">
            {% csrf_token %}
            <label for="mensaje">Escriba su correo electronico:</label><br>
            <input type="email" id="mensaje" name="mensaje">
            <div id="iconos" style="font-size: 2rem; margin-top: 10px;"></div>
            <button type="submit">Enviar</button>
        </form>

        <p id="respuesta"></p>

    </div>
    <div class="Linea-celeste"><!--Genera una lista en la parte derecha de la pagina-->
        <div class="Logo-Contenido"></div><!--comando para contrlar la disposicion de las imagenes-->
        <!--Imagenes sacadas de la carpeta correspondiente, se debe tener siempre la ubicacion-->
            <img src="/static/imgchristian/logo-inacap-sobr-nosotros.jpg" alt="logo-inacap-sobr-nosotros" class="Logo-Inacap">
            <img src="/static/imgchristian/64af742f3380ca2a902586f1_rockruck-soluciones-logisticas-chile.jpg" alt="Logo-rocktruck" class="Logo-RockTruck">
    </div>
</body>
<foot>
    
</foot>

{% endblock %}